{
  "apiKey": "your-api-key",
  "authDomain": "your-app-name.firebaseapp.com",
  "databaseURL": "https://your-app-name.firebaseio.com",
  "projectId": "your-app-name",
  "storageBucket": "your-app-name.appspot.com",
  "messagingSenderId": "your-sender-id"
}
